@use "./typography" as t;

// Landing page
.landing-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .landing-text {
    h1 {
      font-family: t.$montserrat-font-family;
      font-size: 5.5vw;
      text-transform: uppercase;
      font-weight: 170;
    }
    h2 {
      font-family: t.$syncopate-font-family;
      font-size: 11.5vw;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

// Skills
.skills {
  background-color: t.$main-app-color;
  //background-color: #528ccc;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    text-align: center;
    list-style: none;
    line-height: 4.3rem;
    font-size: 18px;
    padding-inline: 15px;
    font-weight: 350;
    color: white;
  }
}

// Projects
.works {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  article {
    margin: 100px 30px 0 30px;
  }
  .project-image {
    display: flex;
    gap: 25px;
    margin-bottom: 35px;
    img {
      width: 100%;
      height: 100%;
      max-width: 170px;
      min-width: 40px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 220;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 13px;
    font-weight: 550;
  }
  .project-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 28px;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    svg {
      width: 25px;
      height: auto;
    }
    @media screen and (min-width: 500px) {
      a:hover svg path,
      button:hover svg path {
        fill: t.$main-app-color;
        stroke: t.$main-app-color;
      }
    }
  }
}

// Bottom links
.bottom-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 25px;
  margin-top: 70px;
  a {
    text-decoration: none;
    color: t.$main-text-color;
    font-family: t.$montserrat-font-family;
    font-size: 1rem;
  }
  @media screen and (min-width: 500px) {
    a:hover {
      color: t.$main-app-color;
    }
  }
}
